<!DOCTYPE html>

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Score Cosmic Hexagons</title>
  <link rel="icon" type="image/x-icon" href="/images/favicon.ico">
  <link rel="stylesheet" href="style.css">
  <script src="https://cdn.jsdelivr.net/npm/onnxruntime-web/dist/ort.min.js"></script>
</head>

<body>
  <div id="app">
    <div id="board-selector">
      <button
        v-for="(board, boardName, index) in boards"
        class="board-selecting-button"
        :class="(board == this.selectedBoard) ? 'selected-board-button' : ''"
        @click="selectBoard(boardName)"
      >{{boardName}}</button>
      <button
        v-if="Object.keys(boards).length < 6"
        class="board-selecting-button"
        @click="addBoard"
      >+</button>
      <button
        v-if="Object.keys(boards).length > 2"
        class="board-selecting-button"
        @click="subtractBoard"
      >remove</button>
    </div>
    <div id="hex-editor">
      <div id="the-board">
        <div class="board-content" :class="{brick: picState != PicState.closed}">
          <hex
            v-for="tile in selectedBoard.tiles"
            :position="tile.position"
            :cosmoid="tile.cosmoid"
            v-on:paint-me="paint"
          ></hex>
        </div>
        <div class="board-content" :class="{brick: picState == PicState.closed}">
          <div id="editor-overlay">
            <button
              v-if="picState == PicState.closed"
              @click="takePicture"
            >Take Picture</button>
            <div
              v-show="picState != PicState.closed"
              id="video-container"
            ></div>
            <button
              v-if="picState == PicState.confirmPic"
              @click="detectObjects"
            >Detect Objects</button>
            <button
              v-if="picState == PicState.confirmPic"
              @click="takePicture"
            >Try Again</button>
            <button
              v-if="picState != PicState.closed"
              @click="cancelPicture"
            >Cancel</button>
          </div>
        </div>
      </div>
    </div>
    <div
      id="selector-pen"
    >
      <hex-paintbrush
        v-for="cosmoid in cosmoids"
        :cosmoid="cosmoid"
        :selected="cosmoid == selectedCosmoid"
        v-on:select-me="selectedCosmoid = cosmoid"
      ></hex-paintbrush>
    </div>
    <div id="score-report">
      <table class="scoreboard">
        <tbody>
          <tr>
            <td TODO="TODO - show version here"></td>
            <th
              v-for="board in boardsArray"
            >{{board.name}}</th>
          </tr>
          <tr>
            <th><img class="scoreboard-cosmoid" src="images/bee.png"></th>
            <td
              v-for="board in boardsArray"
              class="score-datapoint"
            >{{board.beePoints()}}</td>
          </tr>
          <tr>
            <th><img class="scoreboard-cosmoid" src="images/comet.png"></th>
            <td
              v-for="board in boardsArray"
              class="score-datapoint"
            >{{board.cometPoints()}}</td>
          </tr>
          <tr>
            <th><img class="scoreboard-cosmoid" src="images/pyramid.png"></th>
            <td
              v-for="board in boardsArray"
              class="score-datapoint"
            >{{board.pyramidPoints()}}</td>
          </tr>
          <tr>
            <th><img class="scoreboard-cosmoid" src="images/island.png"></th>
            <td
              v-for="board in boardsArray"
              class="score-datapoint"
            >{{board.islandPoints()}}</td>
          </tr>
          <tr>
            <th><img class="scoreboard-cosmoid" src="images/hole.png"></th>
            <td
              v-for="holePoints in holePointsArray"
              class="score-datapoint"
            >{{holePoints}}</td>
          </tr>
          <tr>
            <td></td>
            <td
              v-for="pointSum in pointSumArray"
              class="score-sum"
            >{{pointSum}}</td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</body>

<script type="module">
  import {
    createApp
  } from 'https://unpkg.com/vue@3/dist/vue.esm-browser.js'

  import {Cosmoid} from './modules/cosmoid.mjs'
  import {Position, distance, squaredTrueDistance} from './modules/position.mjs'
  import {Hex} from './components/hex.mjs'
  import {HexPaintbrush} from './components/hex-paintbrush.mjs'
  import {HexBoard} from './modules/hex-board.mjs'
  import {processOutput, findAxes, boxToPosition} from './modules/process-output.mjs'

  const PicState = {
    closed: 'closed',
    video: 'video',
    confirmPic: 'confirmPic',
  }

  const yoloClasses = [
    'splash',
    'scamper',
    'soar',
    'bee',
    'comet',
    'pyramid',
    'island',
    'hole'
  ]

  createApp({
    components: {
      Hex,
      HexPaintbrush
    },
    data() {
      let boards = {'1': new HexBoard('1', 3)}
      return {
        message: 'let\'s score some cosmic hexagons!',
        cosmoids: Object.keys(Cosmoid),
        selectedCosmoid: Cosmoid.empty,
        boards,
        boardsArray: [boards['1']],
        selectedBoard: boards['1'],
        refreshKey: 0,
        imageData: null,
        PicState,
        picState: 'closed',
      }
    },
    methods: {
      paint(position, cosmoid) {
        cosmoid ??= this.selectedCosmoid
        this.selectedBoard.paint(position, cosmoid)
        this.refreshKey++
      },
      selectBoard(boardName) {
        this.selectedBoard =  this.boards[boardName]
      },
      addBoard() {
        let boardName = (Object.keys(this.boards).length + 1).toString()
        this.boards[boardName] = new HexBoard(boardName, 3)
        this.boardsArray.push(this.boards[boardName])
        this.selectedBoard = this.boards[boardName]
        this.refreshKey++
      },
      subtractBoard() {
        this.boardsArray.pop()
        delete this.boards[Object.keys(this.boards).length.toString()]
        this.selectedBoard = this.boardsArray[this.boardsArray.length - 1]
        this.refreshKey++
      },
      takePicture() {
        let videoContainer = document.getElementById('video-container')
        videoContainer.innerHTML = ''
        navigator.mediaDevices.getUserMedia({video: true, audio: false}).then((stream)=> {
          let video = document.createElement('video')
          video.autoplay = true
          video.srcObject = stream
          videoContainer.appendChild(video)
          let canvas = document.createElement('canvas')
          videoContainer.addEventListener('click', (e)=> {
            canvas.width = video.videoWidth
            canvas.height = video.videoHeight
            let context = canvas.getContext('2d')
            context.drawImage(video, 0, 0)
            this.imageData = context.getImageData(0, 0, 640, 640).data
            let pictureData = canvas.toDataURL('image/jpeg')
            let pictureElement = new Image()
            videoContainer.innerHTML = '';
            videoContainer.appendChild(pictureElement)
            pictureElement.src = pictureData
            console.debug(pictureData)
            // videoContainer.innerHTML = ''
            e.preventDefault()
            this.picState = PicState.confirmPic
          })
          this.picState = PicState.video
        }).catch((error)=> {
          console.error('Error accessing the camera: ', error)
        })
      },
      prepareInput() {
        const red = [], green = [], blue = []
        for (let index = 0; index < this.imageData.length; index += 4) {
          red.push(this.imageData[index] / 255)
          green.push(this.imageData[index + 1] / 255)
          blue.push(this.imageData[index + 2] / 255)
        }
        return [...red, ...green, ...blue]
      },
      async detectObjects() {
        let canvas = document.getElementsByTagName('canvas')
        let input = this.prepareInput(canvas)
        const model = await ort.InferenceSession.create('object-detection/cosmic-hexagons-yolov8n-10.onnx')
        input = new ort.Tensor(Float32Array.from(input), [1, 3, 640, 640])
        const outputs = await model.run({images: input})
        let objects = processOutput(outputs['output0'].data, 640, 640, yoloClasses)

        try {
          let splashes = objects.filter(o=> o.label == 'splash')
          let scampers = objects.filter(o=> o.label == 'scamper')
          let soars = objects.filter(o=> o.label == 'soar')
          let axes = findAxes(splashes, scampers, soars)
          console.debug('axes', axes)
          let chits = objects.filter(o=> !['splash', 'scamper', 'soar'].includes(o.label))
          chits.forEach(chit=> {
            console.debug('chit', chit)
            let {position, distance} = boxToPosition(chit, axes)
            console.debug('normalized position', position)
            console.debug('distance', distance)
            console.debug('label', chit.label)
            this.paint(position, chit.label)
          })
          this.picState = PicState.closed
        } catch (ex) {
          console.error(ex)
          this.picState = PicState.closed
        }
      },
      cancelPicture() {
        let videoContainer = document.getElementById('video-container')
        videoContainer.innerHTML = ''
        this.picState = PicState.closed
      },
    },
    computed: {
      beePoints() {
        this.refreshKey
        return this.selectedBoard.beePoints()
      },
      cometPoints() {
        this.refreshKey
        return this.selectedBoard.cometPoints()
      },
      pyramidPoints() {
        this.refreshKey
        return this.selectedBoard.pyramidPoints()
      },
      islandPoints() {
        this.refreshKey
        return this.selectedBoard.islandPoints()
      },
      holeCount() {
        this.refreshKey
        return this.selectedBoard.holeCount()
      },
      holePointsArray() {
        this.refreshKey
        let playerCount = this.boardsArray.length
        let baseValue = 0
        if (playerCount == 1) {
          baseValue = 0
        } else if (playerCount == 2) {
          baseValue = 32
        } else if (playerCount == 3) {
          baseValue = 20
        } else if (playerCount == 4) {
          baseValue = 16
        } else if (playerCount == 5) {
          baseValue = 12
        } else if (playerCount == 6) {
          baseValue = 10
        }
        let blackHoleCounts = this.boardsArray.map(board=> board.holeCount())
        return blackHoleCounts.map(bhc=> {
          let bestedCount = blackHoleCounts.filter(bhc2=> bhc2 < bhc).length
          let tiedCount = blackHoleCounts.filter(bhc3=> bhc3 == bhc).length - 1
          return bestedCount * baseValue + tiedCount * baseValue / 2
        })
      },
      pointSumArray() {
        let sums = this.boardsArray.map(board=>
          board.beePoints() +
          board.cometPoints() +
          board.pyramidPoints() +
          board.islandPoints()
        )
        let blackHolePointsArray = this.holePointsArray
        for (let i = 0; i < sums.length; i++) {
          sums[i] += blackHolePointsArray[i]
        }
        return sums
      }
    }
  }).mount('#app')
</script>